@media only screen and (min-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 5fr 0.5fr;
        grid-template-areas: "cabecera cabecera cabecera" "datos datos datos" "pie pie pie";
    }
    .contenedorProductos {
        grid-template-columns: 1.2fr 3.5fr 3.5fr;
        grid-template-rows: 0.3fr 6fr 0.2fr;
        grid-template-areas: "cabecera cabecera cabecera" "menuLateral datos datos" "pie pie pie";
    }
    .contenedorCarro {
        grid-template-columns: 3.5fr 3.5fr 1.2fr;
        grid-template-rows: 0.3fr 6fr 0.2fr;
        grid-template-areas: "cabecera cabecera cabecera" "datos datos carroCompra" "pie pie pie";
    }
    .dropdown li a:hover {
        background-color: #f7d265;
        transform: scale(1.1);
    }
    .navbar ul li a:hover:not(.actual) {
        transform: scale(1.1);
        transition: 0.5s;
        color: rgb(20, 20, 20);
        font-size: 1.2rem;
    }
    .navbar ul li a.actual {
        color: black;
        text-decoration-style: solid;
        font-size: 1.2rem;
    }
    .productos {
        width: 48%;
        display: inline-flex;
        flex-direction: column;
    }
    .footer {
        flex-direction: row;
        margin-top: 10px;
    }
    .footer-left {
        width: 50%;
        text-align: start;
    }
    .footer-right {
        width: 45%;
        text-align: end;
    }
    .icono {
        width: 3%;
        margin-right: 10px;
    }
    .w-85 {
        width: 40%;
    }
    .w-75 {
        width: 37%!important;
    }
    .img-footer {
        width: 30%;
        opacity: 0.7;
        margin-left: 8%;
    }
    .whatsapp {
        float: right;
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 3%;
    }
    .mostrandoCarro {
        background-color: #CCC;
        margin-left: 0px;
        width: 95%;
        height: 20%;
        display: flex;
        justify-content: space-between;
    }
    .contenidoImg {
        width: 14%;
        margin: 2px;
    }
    .contenidoInfo {
        width: 36%;
        float: left;
        margin: 3px;
        padding-top: 1%;
    }
    .contenidoCant {
        align-items: center;
        width: 15%;
        float: left;
        margin: 3px;
        padding-top: 4%;
    }
    .contenidoValor {
        width: 15%;
        float: left;
        margin: 3px;
        padding-top: 4%;
    }
    .contenidoTotal {
        width: 15%;
        float: left;
        margin: 3px;
        padding-top: 4%;
    }
    .carro {
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {
    .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 4fr 0.5fr;
        grid-template-areas: "cabecera cabecera cabecera" "datos datos datos" "pie pie pie";
    }
    .contenedorProductos {
        grid-template-columns: 1.5fr 3.5fr 3.5fr;
        grid-template-rows: 0.3fr 6fr 0.2fr;
        grid-template-areas: "cabecera cabecera cabecera" "menuLateral datos datos" "pie pie pie";
    }
    .contenedorCarro {
        grid-template-columns: 3.5fr 3.5fr 1.5fr;
        grid-template-rows: 0.3fr 6fr 0.2fr;
        grid-template-areas: "cabecera cabecera cabecera" "datos datos carroCompra" "pie pie pie";
    }
    .dropdownli a:hover {
        background-color: #f7d265;
    }
    .navbar ul li a:hover:not(.actual) {
        transform: scale(1.2);
        transition: 0.5s;
        color: rgb(20, 20, 20);
        font-size: 1.2rem;
    }
    .navbar-nav ul li a.actual {
        color: black;
        text-decoration-style: solid;
        font-size: 1.1rem;
    }
    .cajaProductos {
        width: 98%;
    }
    .productos {
        width: 31%;
    }
    .w-85 {
        width: 40%;
    }
    .text-black-100 {
        background-color: $cfooter;
        display: inline-block;
        padding: 0 5%;
    }
    .w-75 {
        width: 37%!important;
        .img-footer {
            width: 30%;
            opacity: 0.7;
            margin-left: 8%;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .contenedor {
        grid-template-columns: 0.9fr 0.9fr 0.9fr;
        grid-template-rows: 0.5fr 4fr 0.5fr;
        grid-template-areas: "cabecera cabecera cabecera" "datos datos datos" "pie pie pie";
    }
    .contenedorProductos {
        grid-template-columns: 1.5fr 3.5fr 3.5fr;
        grid-template-rows: 0.3fr 6fr 0.2fr;
        grid-template-areas: "cabecera cabecera cabecera" "menuLateral datos datos" "pie pie pie";
    }
    .contenedorCarro {
        grid-template-columns: 3.5fr 3.5fr 1.5fr;
        grid-template-rows: 0.3fr 6fr 0.2fr;
        grid-template-areas: "cabecera cabecera cabecera" "datos datos carroCompra" "pie pie pie";
    }
    .dropdownli a:hover {
        background-color: #f7d265;
    }
    .navbar ul li a:hover:not(.actual) {
        transform: scale(1.2);
        transition: 0.5s;
        color: rgb(20, 20, 20);
        font-size: 1.2rem;
    }
    .navbar-nav ul li a.actual {
        color: black;
        text-decoration-style: solid;
        font-size: 1.1rem;
    }
    .cajaProductos {
        width: 98%;
    }
    .productos {
        width: 23.5%;
        // height: 88%;
    }
    .text-black-100 {
        background-color: $cfooter;
        display: inline-block;
        padding: 0 5%;
    }
}