@mixin title-text {
  font-size: $fb;
  font-weight: bold;
  text-align: center;
}

@mixin text-info {
  font-size: $fn;
  text-align: center;
}

.rrss__img--sm{
	width: 2em;
	float:right;
	padding: 6px 2px;
	margin-right: 5px;
}
.subir{
	width: 1.5em;
	float:right;
	margin-right: -12%;
	opacity:0.7;
}
.tit{
	float:inherit;
	color: $ctcaja;
	background-color:$cbody;
	padding: $pstandar 10%;
	border-bottom: #a7a2a2 2px solid;
	border-left: #a7a2a2 2px solid;
	border-right: #a7a2a2 2px solid;
	
}
.datos{ 
	grid-area: datos;
	display: flex;
	flex-direction: column;	
}
.datos__title--tprincipal{
	@include title-text;
	margin: 2px 0px;
	color: $ctitulo;
}
.nosotros{
	text-align:center;
	margin-top: 5px;
	img{
		width: 90%
	}
}
.nosotros__text--contenido{
	@include text-info;
	margin: 5px;
	color: #4E4C4C;
}
.productos{
	width: 98%;
	border: #797877 2px solid;
	margin: 5px ;
	img{
		width: 90%;
		border-radius: 15px;
		margin: 5% ;
		border: 1px double rgb(49, 49, 49); 
		}
}

.cajaProductos{
	background-color:$cfooter;
	margin: 5px 15px;
	border: #ffb347 2px solid;
}
.cajaProductos__title--orange{
	@include title-text;
	color: $ctcaja;
	text-shadow: 1px 1px 1px rgb(17, 17, 17);
	background-color:#5a5959;
	padding: $pstandar 10%;
}
.cajaProductos__text--grey{
	@include text-info;
	color: #474747;
}

.precios-outlet{
	@include text-info;
	color: #3D3C3C;
	text-align: center;
	font-size: $fb;
}
form{
margin:auto;
justify-content: center;
}
.formulario__fieldset--bgtransp{
background-color:$cfooter;
padding: $pdoble;
}