@mixin title-text {
  font-size: $fb;
  font-weight: bold;
  text-align: center;
}

@mixin text-info {
  font-size: $fn;
  text-align: center;
}
.rrss{
	margin-top: -1px;
}
.rrss__img--sm{
	width: 2em;
	float:right;
	padding: 6px 2px;
	margin-right: 5px;
}
.subir{
	width: 2em;
	float:right;
	margin-right: -12%;
}
.tit{
	float:inherit;
	color: $ctcaja;
	background-color:#f8f6f1;
	padding: $pstandar 10%;
	border: #3D3C3C 2px solid;
}
.datos{ 
	grid-area: datos;
	display: flex;
	flex-direction: column;	
}
.datos__title--tprincipal{
	@include title-text;
	margin: 2px 0px;
	color: $ctitulo;
}
.nosotros{
	text-align:center;
	margin-top: 5px;
}
.nosotros__text--contenido{
	@include text-info;
	margin: 5px;
	color: #4E4C4C;
}
.productos{
	width: 99%;
	display: inline-block;
  	vertical-align: top;
	border: rgb(253, 93, 19) 2px solid;
}
.imgProd, .descProuctos, .coloresProd{
	width: 100%;
}
.iProducto{

	width: 98%;
	border-radius: 15px;
    margin: 3px;
}
.cajaProductos{
	background-color:$cfooter;
	margin: 5px 15px;
}
.cajaProductos__title--orange{
	@include title-text;
	color: $ctcaja;
	background-color:#BFBCBC;
	padding: $pstandar 10%;
}
.cajaProductos__text--grey{
	@include text-info;
	color: #3D3C3C;
}

.precios-outlet{
	@include text-info;
	color: #3D3C3C;
	text-align: center;
	font-size: $fb;
}
form{
margin:auto;
justify-content: center;
}
.formulario__fieldset--bgtransp{
background-color:$cfooter;
padding: $pdoble;
}