@mixin title-text {
    font-size: $fb;
    font-weight: bold;
    text-align: center;
}

@mixin text-info {
    font-size: $fn;
    text-align: center;
}

.whatsapp {
    float: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 10%;
}

.rrss__img--sm {
    width: 2em;
    float: right;
    padding: 6px 2px;
    margin-right: 5px;
}

.subir {
    width: 1.5em;
    float: right;
    margin-right: -12%;
    opacity: 0.7;
}

.tit {
    float: inherit;
    color: $ctcaja;
    background-color: $cbody;
    padding: $pstandar;
}

.descripcion {
    text-align: center;
    font-size: $fs;
}

.datos {
    grid-area: datos;
    display: flex;
    flex-direction: column;
}

.datos__title--tprincipal {
    @include title-text;
    margin: 2px 0px;
    color: $ctitulo;
}

.nosotros {
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    img {
        width: 85%
    }
}

.nosotros-text {
    @include text-info;
    color: #4E4C4C;
}

.productos {
    width: 98%;
    border: #797877 2px solid;
    margin: 5px;
    align-items: center;
    justify-content: top;
    img {
        width: 90%;
        border-radius: 15px;
        margin: 5%;
        border: 1px double rgb(49, 49, 49);
    }
}

.cajaProductos {
    background-color: $cfooter;
    margin: 5px 15px;
    border: #ffb347 2px solid;
}

.cajaProductos__title--orange {
    @include title-text;
    color: $ctcaja;
    text-shadow: 1px 1px 1px rgb(17, 17, 17);
    background-color: #5a5959;
    padding: $pstandar 10%;
}

.cajaProductos__text--grey {
    @include text-info;
    color: #6e6a6a;
}

.precios-outlet {
    @include text-info;
    color: #f71b13;
    text-align: center;
    font-size: $fb;
}

form {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.formulario__fieldset--bgtransp {
    background-color: $cfooter;
    padding: $pdoble;
}

.imgCarro {
    width: 85%;
    border-radius: 15px;
    margin: 5%;
    border: 1px double rgb(49, 49, 49);
}

.contienecarro {
    background-image: url();
    width: 120%;
    margin: auto;
    text-decoration: none;
    font-size: 2rem;
    //float: right;
    position: fixed;
    right: 4px;
    top: 10px;
}

a.navbar.contienecarro {
    background-color: rgba(241, 154, 71, 0.623);
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: -10px;
    margin-right: 15px;
    margin-bottom: 5px;
    height: 14%;
    h6 {
        color: rgb(17, 17, 17);
        padding-right: 3px;
    }
}