.footer {
    background-color: $cfooter;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: $fsuave;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.img-footer {
    width: 40%;
    opacity: 0.8;
    margin: 1% 30%;
}

.icono {
    width: 8%;
    margin-right: 7px;
}

.carritocompra {
    width: 4%;
    margin-right: 7px;
}

.CantidadCarro {
    size: 20px;
    color: cornsilk;
    text-decoration-style: solid;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5px;
    padding-top: 2px;
    text-align: center;
    background-image: url(../icono/circulo.png);
    background-size: 95%;
    background-repeat: no-repeat;
    display: inline-block;
}

.foter__title--grey {
    color: $cfontfooter;
    font-size: $fn;
}

.footer-left,
.footer-right {
    margin-top: 5px;
    width: 95%;
    display: inline-block;
    vertical-align: top;
}

.footer-left {
    text-align: center;
}

.footer-right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}