@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;700&display=swap');

//tamano fuentes

$finicial: 'Barlow Semi Condensed';
$font:'Barlow Semi Condensed';
$fsuave:400;
$fmedio:500;
$ffuerte:700;

$fs:0.8rem;
$fn: 1.2rem;
$fb:1.5rem;

// colores fuentes
$ctitulo:#4D4A4A;
$cfontfooter:#2B2B2B;
$ctcaja:#df861d;
.text-black-100{
	font-weight: bold;
}

h1,h2,h3,h4, a,li{
	font-family: $font;
}
h6{
	font-family: $font;
	size: $fs;
	font-weight: bold;
}
select{
	font-family: $font;
	size: $fb;
	background-color: #f0d4b363;
	padding: 2px;
}
.precio{
	text-align: center;
	font-style: oblique;
	font-weight: bold;
	font-size: 1.3rem;
	color: red;
	margin-top: 5px;
	background-color:rgba(221, 218, 216, 0.541);
	padding: 5px;
}