@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;700&display=swap');
//tamano fuentes
$finicial: 'Barlow Semi Condensed';
$font:'Barlow Semi Condensed';
$fsuave:400;
$fmedio:500;
$ffuerte:700;
$fss: 0.6rem;
$fs:0.8rem;
$fn: 1.2rem;
$fb:1.5rem;
// colores fuentes
$ctitulo:#4D4A4A;
$cfontfooter:#2B2B2B;
$ctcaja:#df861d;
.text-black-100 {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
a,
li {
    font-family: $font;
}

.fontCategoria {
    size: 10px;
    color: #6e6a6a;
}

.fontNombre {
    size: 0.4rem;
    color: #2e2d2d;
    font-weight: bold;
}

.fontDescripcion {
    size: 0.2rem;
    color: #6e6a6a;
}

h5 {
    size: 0.4rem;
    color: #6e6a6a;
}

.fontCategoria {
    size: 0.4rem;
    color: #6e6a6a;
}

.fontPrecio {
    size: 0.8rem;
    color: #131212;
    text-align: center;
}

.fontPrecioUnitario {
    size: 0.7rem;
    color: #494848;
    text-align: center;
}

select {
    font-family: $font;
    size: $fb;
    background-color: #f0d4b363;
    padding: 2px;
}

.precio {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 1.3rem;
    color: red;
    margin-top: 5px;
    padding: 5px;
}

.restar {
    font-weight: bold;
    background-color: $ctitulo;
    color: rgb(252, 250, 250);
}

.sumar {
    font-weight: bold;
    background-color: $ctitulo;
    color: rgb(249, 247, 252);
}