.navbar{
	background:linear-gradient(to bottom,$cpnav,$csnav);
	ul{
		li{
			a{ 
				color: rgb(20, 20, 20);
				font-size:$fn;
				margin-left: 10px;
				}
			a:hover{
				transform: scale(1.1);	
				transition: 0.5s;				
				}
		}
	}
}
.dropdown-menu li a:hover{
	background-color: #f7d265;
	width: 80%;
	margin-left: 15px;
}
.navbar__img--logo{
		width: $wlogo;
		}

.menuLateral{
	grid-area: menuLateral;
	border-top: 2px;
	margin-top: 2px;
	nav{
	background:linear-gradient(to bottom, rgba(148, 146, 142, 0.863), rgba(226, 226, 220, 0.7) );

	ul {
		list-style-type: none;
		overflow:hidden;
		padding-left: 0;
		li{
			list-style-type: none;
			border: grey 2px solid;
			a {
				font-size: 1rem;
				display: block;
				color: rgb(17, 17, 16);
				text-align: center;
				padding: $pstandar 0;
				text-decoration: none;
				
			}
			a:hover:not(.actual) {
				transform: scale(1.2);	
				transition: 0.5s;
				color: #e44607;
			}
		}
	}
}
}

 