.navbar{
	background:linear-gradient(to bottom,$cpnav,$csnav);
	
	ul{
		li{
			a{
				color: rgb(20, 20, 20);
				font-size:$fn;
				margin-left: 10px;
			}
			a:hover{
				transform: scale(1, 0.5);	
				transition: 0.3s;
				color: rgb(20, 20, 20);
				font-size: $fn;					
			}

		}
	}
}
.navbar__img--logo{
		width: $wlogo;
		}

.menuLateral{
	grid-area: menuLateral;
	border-top: 2px;
	margin-top: 2px;
	nav{
	background:linear-gradient(to bottom, rgba(117, 117, 112, 0.863), rgba(226, 226, 220, 0.7) );
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	ul {
		list-style-type: none;
		overflow:hidden;
		padding-left: 0;
		li{
			list-style-type: none;
			border: rgb(253, 93, 19) 2px solid;
			a {
				font-size: 1rem;
				display: block;
				color: rgb(17, 17, 16);
				text-align: center;
				padding-top: $pstandar;
				text-decoration: none;
			}
			a:hover:not(.actual) {
				transform: scale(1.2);	
				transition: 0.5s;
				color: #e44607;
			}
		}
	}
}
}

 